 /******* FIRST SECTION ******/
.first-section{
	background-image: url(../img/header-bg.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.nombre_logo {
	margin-top: 10px;
    font-size: 25px;
    color: #f1c40f;
    font-family: 'Kaushan Script', cursive;
}
.nav{
	height: 70px;
	padding-top: 10px;
}
.navbar-inverse .navbar-nav>li>a:hover{
    background-color: rgba(117,114,108,0.5);
    background-color: #f1c40f;
    border-color: none;
}
.link{
	border-radius: 3px;
}
#parrafo{
	padding-top: 250px;
}
.welcome{
	font-family: 'Lato', sans-serif;
	color: whitesmoke;
}
.titulo{
	color: whitesmoke;
	font-size: 400%;
	font-weight: bold;
}
.btn-default{
	border-color: #f1c40f;
	padding:20px 60px;
	font-size: 150%;
	font-weight: bold;
	margin-top: 50px;
}
h1{
	color: #252424;
	font-size: 330%;
	font-weight: bolder;
}
h4{
	font-weight: bold;
}
.navbar-btn{
 	background-color: #f1c40f;
 	color: whitesmoke;
 }
 .navbar-inverse .navbar-nav>li>a{
 	color: whitesmoke;
 	font-size: 1.2em;
 }
  /******* SECOND SECTION *******/
#row2{
	margin: 120px 40px;
}
.services{
	padding-bottom: 100px; 
}
.amarillo{
	background: #f1c40f;
	width: 100px;
	height: 100%;
	color: whitesmoke;
	padding: 15px 10px;
	font-size: 400%;
}

/******** THIRD SECTION *******/
.third-section{
	background: #E0DFDF;
}
#row3{
	margin: 120px 40px;
}
.portfolio{
	padding-bottom: 50px;
}
.imagenes{
	background: white;
	padding: 10px 10px;
	background-size: cover;
}
.img-responsive{
	margin-top: 20px; 
}
/******** FOURTH SECTION *******/
#row4{
	margin: 120px 40px;
}
.about{
	padding-bottom: 100px;
}
.row4{
	padding: 160px 20px;
}
.responsive{
	border-color: black;
	border-image: 30px;
}
.last_one{
	border-color: #f1c40f;
	background: #f1c40f;
	padding:65px 73px;
	font-size: 140%;
	font-weight: bold;
	
	color: whitesmoke;
}


/******** SEVENTH SECTION *******/
 .seventh-section{
	background-image: url(../img/map-image.png);
	background-color: #5A5757;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}